header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

/** Style the header columns */
#header_left{
    text-align:center;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding-left: 30px;
}
#header_center{
    text-align:right;
    display: flex;
    align-items:center;
    justify-content: center;
}
#header_right {
    text-align:center;
    display: flex;
    align-items:center;
    justify-content: flex-end;/* Align to the right side */
    padding-right: 30px
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


#logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

/* Reset default margin and padding */
body, h1, h2, h4, form, label, input, a {
  margin-top: 0;
  padding: 0;
}

/* Set a background color and text color */
body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
